@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300;700;900&family=Open+Sans:wght@300;400;500;600;800&display=swap');
body {
    background-color: rgb(247, 247, 233);
    margin: 0;
}

header {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    border-bottom: 0.4vh solid #535252;
    letter-spacing: -2px;
}

header .title {
    padding: 2vh 0 1vh 0;
}

header .title h1 {
    font-size: 30px;
    font-family: 'Martel', serif;
    color: #343434;
    cursor: pointer;
    font-weight: 500;
}

header .title h1:active {
    opacity: 0.8;
}

.container {
    width: 100vw;
    height: 84vh;
    display: flex;
}

.container-item {
    display: flex;
    height: 84vh;
}

.container-title {
    height: 54vh;
    width: 5vw;
    padding-top: 30vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    border-right: 0.4vh solid #535252;
    position: relative;
    text-align: center;
    background-color: rgb(247, 247, 233);
    z-index: 1111;
}

.container-title h2 {
    font-family: 'Martel', serif;
    color: #846639;
    transform: rotate(-90deg);
    position: absolute;
    width: 40vw;
    left: -17.5vw;
    font-weight: 300;
    cursor: pointer;
}

.container-body {
    padding: 4vw;
    width: 74vw;
    background-color: rgb(247, 247, 233);
    z-index: 0;
    overflow: scroll;
}

.container-body .hello {
    width: 74vw;
    display: flex;
    align-items: center;
}

.container-body .hello img {
    width: 45vw;
    max-width: 300px;
}

.container-body .hello .column-one {
    padding: 0.5vw 0.5vw 0.3vw 0.5vw;
    border: 2px solid #cdb28a;
}

.container-body .hello .column-two {
    padding: 0 2vw;
    height: 60vh;
    padding-top: 10vh;
}

.container-body .hello .column-two .first-row {
    font-family: 'Martel', serif;
    font-weight: 800;
    font-style: italic;
    font-size: 30px;
    color: #cdb28a;
}

.container-body .hello .column-two .second-row {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #716f6f;
    text-transform: uppercase;
}

.container-body .hello .column-two .third-row {
    display: flex;
    align-items: center;
}

.container-body .hello .column-two .third-row .line {
    width: 20vw;
    height: 1px;
    background-color: #343434;
}

.container-body .hello .column-two .third-row .text {
    font-size: 1.4vw;
    padding-left: 2vw;
    font-weight: 500;
    font-style: italic;
    font-family: 'Martel', serif;
    color: #846639;
    width: 18vw;
    text-align: right;
}

.container-body .hello .column-two .about {
    font-weight: 400;
    text-align: justify;
    font-style: normal;
    font-family: 'Open Sans', serif;
    color: #343434;
}

.examples {
    display: flex;
    align-items: center;
}

.weddings h4,
.couples h4,
.celebration h4 {
    margin-left: -10vw;
    text-align: center;
    font-family: 'Martel', sans-serif;
    color: #846639;
}

.slider {
    display: flex;
    align-items: center;
    margin-right: 10vw;
}

.slider div {
    padding: 2vw;
}

.slider img {
    max-width: 400px;
    width: 30vw;
}

.slider .arr-left,
.slider .arr-right {
    font-size: 30px;
    font-weight: 600;
    color: #535353;
    cursor: pointer;
}

.slider .arr-left:active,
.slider .arr-right:active {
    opacity: 0.7;
}